<h2>Tic Tac Toe</h2>

<% if @ttt.winner %>
  <p><%= winner_name %> you won!</p>
<% else %>
  <% if @ttt.player_name %>
    <p><%= @ttt.player_name %>s turn</p>
  <% else %>
  <p>Player<%= @ttt.next_player %>s turn</p>
  <% end %>
<% end %>


<div class="game_container">
    <% (0...9).each do |i| %>
      <div class="<%= box_class(i) %>">
             <%= link_to '', ttt_moves_path(@ttt, :move => 2 ** (8-i)), :method => :post  %>
        
      </div>
    <% end %>
     
</div>  





