<h2>Tic Tac Toe</h2>

<% if @ttt.winner %>
  <p><%= winner_name %> you won!</p>
<% else %>
  <% if @ttt.player_name %>
    <p><%= @ttt.player_name %>s turn</p>
  <% else %>
  <p>Player<%= @ttt.next_player %>s turn</p>
  <% end %>
<% end %>


<div class="game_container">
    <% (0...9).each do |i| %>
     <div class="box<%= i %>">
        <%= link_to '', ttt_moves_path(@ttt, :move => 2 ** (8-i)), :method => :post  %>
      <div class="<%= box_class(i) %> piece">
             <svg height="100%" width="100%" >
                <line x1="0" y1="0" x2="100%" y2="100%"  />
                <line x1="100%" y1="0" x2="0" y2="100%"  />
            <!-- Sorry, your browser does not support inline SVG. -->
            </svg>
      </div>
    </div>
    <% end %>
     
</div>  





