<h2>Tic Tac Toe</h2>

<% if @ttt.winner %>
  <p><%= winner_name %> you won!</p>
<% else %>
  <% if @ttt.player_name %>
    <p><%= @ttt.player_name %>s turn</p>
  <% else %>
  <p>Player<%= @ttt.next_player %>s turn</p>
  <% end %>
<% end %>


<div class="game_container">


    <% (0...9).each do |i| %>
      <div class="<%= box_class(i) %>">
        <% if box_class(i) == "blank" && @ttt.winner.nil? %>
          <%= button_to 'Move', ttt_path(@ttt, :move => 2 ** (8-i)), :method => :put  %>
        <% end %>
      </div>
    <% end %>
     
</div>  





