<!DOCTYPE html>
<html>
<head>
  <title>SirrahGames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
</head>
<body>
 
 <% if current_user %>
       <div class="loginstatus loggedin">       
        Hello, <%= current_user.name %> 
        <%= link_to 'Logout', session_path(0), method: :delete %>
        <%= link_to "Challenges", user_messages_path(current_user) %>
        <%= link_to "In progress", user_path(current_user) %>
        </div>
 <% else %>
      <div class="loginstatus loggedout"> 
        <%= link_to 'Sign in', new_session_path %>
        <%= link_to 'Sign up', new_user_path %>
        </div>
      <% end %>

<nav class="all">
<ul>
  <li><a href="/">back to game centre</a></li>
  <li>
      New game
        <li><%= link_to "Play  vs computer", new_ttt_path(computer: :true) %></li>
        <li><%= link_to "Play vs Player 2 (same computer)", new_ttt_path %></li>
        <li><%= link_to "Challenge another player to a game", users_path %></li>
  </li>

  
<ul>
</nav>

<div id="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
           <% end %>
</div>

<%= yield %>

</body>
</html>
