<!DOCTYPE html>
<html>
<head>
  <title>SirrahGames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <% if current_user %>
       <div class="loginstatus loggedin">       
        Hello, <%= current_user.name %> 
        <%= link_to 'logout', session_path(0), method: :delete %>
        </div>
<% else %>
      <div class="loginstatus loggedout"> 
        <%= link_to 'Sign in', new_session_path %>
        <%= link_to 'Sign up', new_user_path %>
        </div>
      <% end %>


<div id="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
           <% end %>
</div>
<%= yield %>

</body>
</html>
